build/
.vscode/
obj/
bin/
example-stdlibCompat-*
example-play_Sound-*
example-ansiCompat-*
example-ncursesCompat-*
example-allCompat-*
beep/*.exe
beep/beep-*
beep/mario-*
beep/jingleBell-*
beep/*.out
beep/*.exe
*.out
*.exe
*.dat
*.ico
*.win
*.o
*.depend
*.layout
*_private.*
*.gch
